
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

/* Header Section */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 1.5em;
    font-weight: bold;
}

header h1 {
    font-size: 1.2em;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Hero Section */
.hero {
    background-color: #333;
    color: #fff;
    padding: 50px;
    text-align: center;
}

.hero h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
}

/* Best Sellers Section */
.best-sellers {
    background-color: #fff;
    padding: 40px 20px;
    text-align: center;
}
#kettle{
width: 300px;
height: 300px;
}
#Lamp{
width: 300px;
height: 300px;
}
#Bottle{
    width: 300px;
    height: 300px;
}
#Wall{
width: 300px;
height: 300px;

}

#image{
    width: 100px;
    height: 100px;
}
.best-sellers h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.product-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product {
    background-color: #eee;
    padding: 20px;
    width: 200px;
    height: 100px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product:hover {
    background-color: #ddd;
    cursor: pointer;
}

/* Footer Section */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
